<ul class="nav navbar-nav navbar-right">
    {% if request.identity_context_data.authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'status' %}">Hello {{ request.identity_context_data.username }}!</a>
        </li>
        <li>
            <a class="btn btn-warning" href="{% url 'sign_out' %}">Sign Out</a>
        </li>
    {% else %}
        <li>
            <div class="text-center">
                <!-- "Sign In with Microsoft" button -->
                <a href="{% url 'sign_in' %}" class="btn btn-light border">
                    <img src="https://s3-eu-west-1.amazonaws.com/cdn-testing.web.bas.ac.uk/scratch/bas-style-kit/ms-pictogram/ms-pictogram.svg" alt="Microsoft Logo" height="24">

                    <span class="ml-2">Sign in with Microsoft</span>
                </a>
            </div>
        </li>
    {% endif %}
</ul>
